# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

**.project
**.settings
**.idea
**.classpath
**/target
**/classes
**.iml
**.DS_Store
**/node_modules
**/webapp
